name: Push to Docker registry

on:
  pull_request:
  push:
    branches:
      - main

jobs:
  push:
    strategy:
      matrix:
        distro:
          - ubuntu-nvenc
        include:
          - distro: ubuntu-nvenc
            # NVIDIA Tegra X1 supports linux/arm64/v8, and Tegra K1 linux/arm/v7, but CUDA for armhf is not open for now, so unavailable.
            platforms: >-
              linux/amd64,
              linux/arm64/v8,
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Setup QEMU user-mode emulation
        uses: docker/setup-qemu-action@v1
      - name: Setup Docker Buildx
        uses: docker/setup-buildx-action@v1
      - name: Cache Docker layers
        uses: actions/cache@v2
        with:
          path: /tmp/.buildx-cache
          key: ${{ github.ref }}-${{ github.sha }}
          restore-keys: |
            ${{ github.ref }}-${{ github.sha }}
            ${{ github.ref }}
            refs/head/main

      - name: Login to Docker Hub
        if: success() && github.event_name != 'pull_request'
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
      - name: Build and push
        if: success() && github.event_name != 'pull_request'
        uses: docker/build-push-action@v2
        with:
          context: ./epgstation-nvenc
          file: custom.Dockerfile
          platforms: ${{ matrix.platforms }}
          tags: ${{ secrets.DOCKER_USERNAME }}/epgstation-nvenc:latest
          cache-from: type=local,src=/tmp/.buildx-cache
          cache-to: type=local,dest=/tmp/.buildx-cache
          push: true
